/* line 1, ../sass/partials/_body.scss */
html, body, button, input, optgroup, select, textarea {
  font-family: 'Rajdhani', 'Nunito Sans', 'Ubuntu', sans-serif;
  height: 100%;
}

/* line 6, ../sass/partials/_body.scss */
body {
  background-color: #2a2a2a;
}

/* line 10, ../sass/partials/_body.scss */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 1, ../sass/partials/_big-form.scss */
.bigform-row {
  background-image: url(../img/background-1.jpg);
  background-size: cover;
  background-position-x: 150px;
  margin-bottom: 0;
  height: 100%;
}
/* line 8, ../sass/partials/_big-form.scss */
.bigform-row .col {
  height: 100%;
}
/* line 11, ../sass/partials/_big-form.scss */
.bigform-row .section-wrapper {
  position: relative;
  width: 75%;
  height: 100%;
}
/* line 16, ../sass/partials/_big-form.scss */
.bigform-row #form-section {
  background-color: #2a2a2a;
  padding: 1.5rem 4rem;
}
/* line 19, ../sass/partials/_big-form.scss */
.bigform-row #form-section .logo {
  position: absolute;
  top: 0;
}
/* line 22, ../sass/partials/_big-form.scss */
.bigform-row #form-section .logo img {
  max-height: 40px;
}
/* line 26, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper {
  color: #FFF;
}
/* line 29, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .form-heading {
  font-weight: 600;
  margin: 0 0 1rem 0;
}
/* line 33, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .form-subheading {
  margin: 0 0 2rem 0;
}
/* line 36, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .row {
  margin-bottom: 0;
}
/* line 38, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .row .input-field {
  margin-bottom: .5rem;
}
/* line 40, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .row .input-field input {
  color: #FFF;
}
/* line 43, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .row .input-field input:focus + label, .bigform-row #form-section .form-wrapper .row .input-field .prefix.active {
  color: #2CABE2;
}
/* line 46, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .row .input-field input:focus {
  border-bottom: 1px solid #2CABE2;
  box-shadow: 0 1px 0 0 #2CABE2;
}
/* line 52, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .switch p {
  margin: .5rem 0 1rem;
}
/* line 54, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .switch p [type=checkbox].filled-in:checked + span:not(.lever):after {
  border: 2px solid #2CABE2;
  background-color: #2CABE2;
}
/* line 59, ../sass/partials/_big-form.scss */
.bigform-row #form-section .form-wrapper .buttons {
  position: absolute;
}
